<!DOCTYPE html>
<html>
<head>
	<title>Express App Tutorial</title>
</head>
<body>
	<h2>Articles Page</h2>


	<p>This is was written by <%=person%></p>

	<div>
		<ul>
			<% data.topics.forEach(function(item){%>
			<li><%= item %></li>

		<%}); %>
		</ul>
	</div>

</body>
</html>