<!DOCTYPE html>
<html>
<head>
	<title>Express Uploads Method 1</title>
</head>
<body>
	<h2>Using Multer</h2>
	<!-- Displays Error -->
<%= typeof msg != 'undefined' ? msg : '' %> 
	<form method="POST" enctype="multipart/form-data">
		<input type="file" name="myfile" />
		<input type="submit" value="Submit">
	</form>

<div>
	<img src="<%= typeof file != 'undefined' ? file : '' %>">
</div>
</body>
</html>