<!DOCTYPE html>
<html>
<head>
	<title>Express Database</title>
</head>
<body>
	<form method="POST" action='/adduser'>
		<div>
			<label>Firstname</label>
		     <input type="text" name="firstname">
		</div>
		<br/>
		<div>
			<label>Lastname</label>
		     <input type="text" name="lastname">
		</div>
		<br/>
		<div>
			<label>Email</label>
		     <input type="email" name="email">
		</div>
		<br/>
		<div>
			<label>Password</label>
		     <input type="password" name="password">
		</div>
		<br/>
		<input type="submit" value="Submit" >
		
		
	</form>

</body>
</html>