<!DOCTYPE html>
<html>
<head>
	<title>Express Profile</title>
</head>
<body>

	<div>
		<h2>Profile</h2>
		<h4>Welcome <%= myprofiles.Firstname %> </h4>
		<p>FirstName : <%= myprofiles.Firstname %></p>
		<p>LastName : <%= myprofiles.Lastname %></p>

	</div>

</body>
</html>