<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iris Startup</title>
</head>
<body>
    <div>
        <h2>API DOCS</h2>
    </div>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Laboriosam labore quis nihil! Saepe quos repellendus nulla, rem voluptatem eaque possimus adipisci?
             Commodi ea autem neque suscipit dolor consectetur alias natus!</p>
    </div>
    
</body>
</html>