<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iris Startup</title>
</head>
<body>
    <div>
        <h2> Login Page</h2>
    </div>
    <div>
       <form>
           <div>
               <label>Username</label>
                <input type="text" name="username" ><br/>
                <label>Password</label>
                <input type="password" name="password" >
                <br/>
                <button>Submit</button>
           </div>

       </form>
    </div>
    
</body>
</html>